@{
    ViewData["Title"] = "About KloudTransact";
}

		<div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading">About KloudTransact</h2>
            <hr class="my-4">
            <h4>Sub heading here</h4>
            <p>First block of text goes here</p>
            <br>
            
            <h4>We'd like to hear from you!</h4>
            <p>We are highly customer-centric and are committed towards finding innovative ways of improving our customers' shopping experience with us;</p>
            <p>Give us some feedback on <a href="mailto:support@kloudtransact.com">support@kloudtransact.com</a></p>
            <p>For any press related questions, kindly send us an email at <a href="mailto:contact@kloudtransact.com">contact@kloudtransact.com</a></p>
            <p><i class="fa fa-map mr-3"></i>Galadimawa, Abuja Nigeria</p>
            <p><i class="fa fa-phone mr-3"></i><a href="tel:08184058589">0818 405 8589</a></p>
            <p><i class="fa fa-facebook mr-3"></i><a href="#">kloudtransact</a> <i class="fa fa-twitter mr-3"></i><a href="#">kloudtransact</a> <i class="fa fa-instagram mr-3"></i><a href="#">kloudtransact</a></p>
            <br>
          </div>
        </div>
