
    /* ---------------------------------------
    ##### - CUSTOM CSS HERE - #####
    --------------------------------------- */
	
	.category-header{
		color: white;
		background: green;
		padding: 6px;
		margin: 5px;
	}
	
	.rating-star{
		color: #fbb710;
	}